@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

*::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(71, 94, 71);
}


header li, a, button {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #FAF9F6;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: default;
    display: flex;
    margin-right: 25%;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0888a9;
}

button {
    padding: 9px 25px;
    background-color: rgb(25, 65, 31, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    color: #0888a9;
    background-color: rgba(25, 65, 31, 0.8);
}

p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-right: 28%;
    margin-left: 28%;
    color: #FAF9F6;
}

p > a {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-decoration: underline;
}

p > a:hover {
    font-family: "Poppins", sans-serif;
    color: #0888a9;
    font-weight: 400;
    font-size: 20px;
    text-decoration: underline;
}

.row {
    margin: 8px -32px;
}

.row, .row > .columns {
    padding: 2%;
}

.column {
    float: left;
    width: 33%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.content, .interests {
    background-color: #FAF9F6;
    padding: 8px;
    margin: 8px;
    box-shadow: 4px 4px 2px 2px rgba(18, 59, 24, 0.4);
    cursor: pointer;
    border-radius: 8px; 
    outline-style: solid;
    outline-color: #e9e9e8;
}

.content:hover {
    padding: 8px;
    margin: 8px;
    box-shadow: 6px 6px 2px 2px rgba(18, 59, 24, 0.8);
    cursor: pointer;
}

.interests:hover {
    cursor: default;
}

.content > img{
    width: 100%;
}

.interests > img {
    width: 50%;
    margin-left: 25%;
    margin-top: 12px;
}


.content > p.portfolio_title {
    background-color: #FAF9F6;
    color: rgb(25, 65, 31, 1);
    font-size: 18px;
    margin: 2px;
}

.interests > p.portfolio_title {
    background-color: #FAF9F6;
    color: rgb(25, 65, 31, 1);
    font-size: 18px;
    margin: 2px;
    text-align: center;
    font-weight: 600;
}

.content > p , .interests > p{
    background-color: #FAF9F6;
    color: rgb(25, 65, 31, 1);
    font-size: 16px;
    margin: 2px; 
    padding-top: 8px;
}



@media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
}

.project_display {
    margin: auto;
    max-width: 1200px;
}

.new_content_block1 {
    background-color: #FAF9F6;
}

.new_content_block2{
    background-color: #e9e9e8;
}

.new_content_block1 > h2, .new_content_block2 > h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 40px;
    margin-right: 28%;
    margin-left: 28%;
    padding-top: 16px;
    color: rgb(25, 65, 31, 1);
    text-align: center;
}

.interest_display {
    margin: auto;
    max-width: 1200px;
    background-color: #FAF9F6;
}

.normal_text{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding-top: 8px;
    margin-right: 33%;
    margin-left: 33%;
    color: #FAF9F6;
}

.new_content_block2 > .project_text, .new_content_block2 > .list_text, .new_content_block1 > .project_text, .new_content_block1 > .list_text{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding-top: 8px;
    margin-right: 28%;
    margin-left: 30%;
    color: rgb(25, 65, 31, 1)

}

.new_content_block2 > h4 , .new_content_block1 > h4{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 28px;
    margin-right: 28%;
    margin-left: 28%;
    color: rgb(25, 65, 31, 1);
}

.new_content_block2 > .list_text > a , .new_content_block1 > .list_text > a {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-decoration: underline;
    color:rgb(71, 94, 71);
}

.new_content_block1 > ul > li > .block > .extra_list_text, .new_content_block1 >.extra_list_text{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: rgb(25, 65, 31, 1);
}

.new_content_block2 > .list_text > a:hover, .new_content_block1 > .list_text > a:hover {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-decoration: underline;
    color:#0888a9;
}

.project_text{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding-top: 8px;
    margin-right: 10%;
    margin-left: 20%;
    color: #FAF9F6;
}

.list_text{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding-top: 8px;
    margin-right: 20%;
    margin-left: 30%;
    color: #FAF9F6;
}

.body_text{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding-top: 8px;
    margin-right: 20%;
    margin-left: 28%;
    color: #FAF9F6;
    padding-bottom: 24px;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 40px;
    margin-right: 28%;
    margin-left: 28%;
    color: #FAF9F6;
}

h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 28px;
    margin-right: 28%;
    margin-left: 28%;
    color: #FAF9F6;
}



.last_updated {
    color: #FAF9F6;
    font-size: 16px;
    text-align: center;
    padding-bottom: 2%;
}

.a_list {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-decoration: underline;
}

.a_list:hover {
    cursor: pointer;
    color:#0888a9;
}

.checked {
    color:#0888a9;
}

.block {
    box-sizing: border-box;
}

.profile_left > img{
    width: 20%;
    margin-left: 28%;
    border-radius: 32px;
    float: left;
    margin-right: 20px;
    outline-style: solid;
    outline-color: #e9e9e8;
}

.about_text {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-right: 20%;
    text-align: left;
    color: #e9e9e8;
    padding-bottom: 24px;
}


.new_content_block1 > .about_text {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-right: 20%;
    text-align: left;
    color: rgb(25, 65, 31, 1);
    padding-bottom: 24px;
    
}

.centered {
    text-align: center;
}

h5{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-right: 28%;
    margin-left: 30%;
    color: rgb(25, 65, 31, 1);
}

.center_tableau {
    display: block;
    float: center;
    margin-left: 25%;
}