<div class="new_content_block1"> <!--Alternate between content_block1 and content_block2 to distinguish posts...-->

    <h2>Title</h2>
    <h5>Date</h5>

    <p class="list_text">
       <!--Post goes here. Manually break up posts using <br> and include any created material online (datawrapper, tableau, etc.)-->
    <br>
    <br>
    <h5>Tags: </h5>
    <br>
</div>

<div class="new_content_block2"> <!--Alternate between content_block1 and content_block2 to distinguish posts...-->

    <h2>Title</h2>
    <h5>Date</h5>

    <p class="list_text">
       <!--Post goes here. Manually break up posts using <br> and include any created material online (datawrapper, tableau, etc.)-->
    <br>
    <br>
    <h5>Tags: </h5>
    <br>
</div>