<div class="project_display">
    <div class="row">
            <a href="https://pcrg-research.github.io/" target="_blank">
            <div class="content"> 
                <img src="#" alt=""> <!--ADD PHOTO HERE-->
                <p class="project_desc">Complete: </p> <!--ADD PROJECT COMPLETION DATE-->
                <p class="project_desc">Published: </p>  <!--ADD PROJECT PUBLICATION DATE-->
            </div>
            </a>
        </div>
    </div>
</div>

<h4>
    Project Skills:
</h4>
<p>
    <ul class="list_text">
        <li>SKILL: Skill Description</li> <!--ADD LIST OF SKILLS and DESCRIPTIONS-->
    </ul>
</p>
<br>
<h4>
    Project Description:
</h4>

<p class="project_text">

<!--ADD MORE COMPLETE PROJECT DESCRIPTION-->

</p>
<br>
<h4>
    Project Uses:
</h4>

<p>
    <ul class="list_text">
        <li>PROJECT USE</li> <!--ADD APPLICABLE USES-->
    </ul>
</p>
